@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kalnia:wght@300;400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #0a2228;
  font-family: "Comic Neue";
}

.light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

.regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in {
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-up {
  animation: slideUp 0.5s ease-in-out;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
