.friendSideBar {
  position: fixed;
  left: -150px; /* Hide off-screen initially */
  top: 10rem;
  height: 80%;
  width: 250px;
  background-color: gray;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  transition: left 0.3s ease-in-out;
  z-index: 1;
}

.friendSideBar:hover {
  left: 0;
}

.friendSideBar-content {
  display: none; /* Hide content initially */
  padding: 10px;
}

.friendSideBar:hover .friendSideBar-content {
  display: block; /* Show content on hover */
  text-align: center;
}

.friendSideBar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.friendSideBar li {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.friendSideBar li:hover {
  background-color: gray;
}

.friendCard {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buttonList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 50%;
  gap: 10px;
}
.buttonList button {
  height: 10vh;
}
