.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding: 1rem 2rem;
  margin: -10px, -10px, -10px, -10px;
  background-color: gray;
  border-bottom: 1px solid black;
}
