body {
  background-color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding: 1rem 2rem;
  margin: -10px, -10px, -10px, -10px;
  background-color: gray;
  border-bottom: 1px solid black;
}

.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.buttonList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 50%;
  gap: 10px;
}
.buttonList button {
  height: 10vh;
}
